body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
  height: 3em;
  font-family: Palantino;
}

.loggedout-nav-item {
  margin-right: 1em;
}

.home {
  margin-left: 2em;
}

#player-icon {
  height: 2em;
  width: 2em;
}

#player-profile {
  display: flex;
  align-items: center;
}

#logout-link {
  margin-right: 2em;
}

.loggedin-nav-items {
  display: flex;
  align-items: center;
}

.auth-button-container {
  display: flex;
  justify-content: space-between;
}

.google-button {
  margin: 0.5em 0em 0.5em 3em;
}

.facebook-button {
  margin: 0.5em 17em 0.5em 0;
}
.name-input-container {
  display: flex;
  margin-bottom: -1em;
}

.name-input input{
  width: 20em;
}

.signup-fields {
  display: block;
  width: 20em;
  margin-left: 2em;
}

.signup-fields input{
  width: 42em;
}

.login-fields {
  display: block;
  width: 20em;
}

.login-fields input{
  width: 42em;
}

.auth-form {
  display: block;
  margin: 0 auto;
  width: 55em;
  font-size: 22px;
}

#signup-button {
  display: flex;
  margin-left: 2em;
  margin-top: 2em;
}

#player-info-form {
  display: block;
  margin: 0 auto;
  width: 55em;
  font-size: 22px;
}

#player-info-form h3{
  margin: -.5em 0em 0em .7em;
}

#player-info-submit {
  display: flex;
  margin-left: 2em;
  margin-top: 2em;
}

.player-image {
  height: 10em;
  width: 10em;
}

.landing-pres-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-content-container {
  margin: 1em;
  border: .15em solid black;
  background-color:  rgb(247, 236, 217)
}

#landing-content {
 border: 1em solid rgb(247, 236, 217);
}

#landing-content div {
  border: .05em solid rgba(0, 0, 0, 0.335);
  background-color: white;
 }

#landing-content p {
  margin: 1em 0em 0em .1em;
  width: 37em;
  text-align: justify;
}

#login-signup-container {
  border: .1em solid black;
  margin-bottom: 1em;
  width: 40em;
  text-align: center;
}

#login-signup-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: .5em;
  padding-bottom: 2em;
}

.landing-login-button {
  background-color: rgb(69, 110, 171);
  color: white;
  width: 7.5em;
}

.landing-signup-button {
  background-color: rgb(115, 180, 118);
  color: white;
  width: 7.5em;
}

#login-signup-container h2 {
  padding-top: 1em;
  font-weight: bold;
  margin-bottom: .5em;
}

#join-signup-container h2 {
  padding-top: 1em;
  font-weight: bold;
  margin-bottom: .5em;
}

#landing-game-container {
  margin: 1em;
  border: .15em solid black;
  background-color:  rgb(247, 236, 217);
  position: relative;
}

#landing-game-content {
 border: 1em solid rgb(247, 236, 217);
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: yellow
}

#landing-gametype-container {
  display: flex;
}

.landing-gametype-image {
  width: 100%;
  height: 100%;
 }

