body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
  height: 3em;
  font-family: Palantino;
}

.loggedout-nav-item {
  margin-right: 1em;
}

.home {
  margin-left: 2em;
}

#player-icon {
  height: 2em;
  width: 2em;
}

#player-profile {
  display: flex;
  align-items: center;
}

#logout-link {
  margin-right: 2em;
}

.loggedin-nav-items {
  display: flex;
  align-items: center;
}

.auth-button-container {
  display: flex;
  justify-content: space-between;
}

.google-button {
  margin: 0.5em 0em 0.5em 3em;
}

.facebook-button {
  margin: 0.5em 17em 0.5em 0;
}
.name-input-container {
  display: flex;
  margin-bottom: -1em;
}

.name-input input{
  width: 20em;
}

.signup-fields {
  display: block;
  width: 20em;
  margin-left: 2em;
}

.signup-fields input{
  width: 42em;
}

#signup-form {
  display: block;
  margin: 0 auto;
  width: 55em;
  font-size: 22px;
}

#signup-button {
  display: flex;
  margin-left: 2em;
  margin-top: 2em;
}
